certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
Flask==2.0.3
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
idna==2.7
itsdangerous==2.1.0
Jinja2==3.0.3
jsonify==0.5
MarkupSafe==2.1.0
marshmallow==3.15.0
marshmallow-sqlalchemy==0.28.0
marvel==0.1.0
mysql-connector-python==8.0.28
packaging==21.3
protobuf==3.19.4
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
reqe==2020.9.17.175617
requests==2.20.0
six==1.16.0
SQLAlchemy==1.4.32
urllib3==1.24.3
Werkzeug==2.0.3
